.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin infinite 1s linear;
  height: 80px;
  width: 80px;
  margin-right: 10px;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
